body {
    background-color: lightblue;
    text-align: center;
}

p {
    color: rgb(1, 1, 41);
}

.YEJI {
    font-style:italic;
}

.LIA {
    width: 50%;
} 

element.style {

    border: lightslategrey;

}

h1 {
    font-size: 40px;
    padding: 2px;
    margin-top: 5px;
}